<h2>Shopping Cart</h2>
{{#unless shoppingCart.items}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h3>There are no items in the cart yet.</h3>
    {{/paper-card-content}}
  {{/paper-card}}
{{/unless}}

{{#each shoppingCart.items as |item|}}
{{#paper-card}}
  {{#paper-card-content}}
    {{cart-item-tile item=item}}
    {{/paper-card-content}}
  {{/paper-card}}
{{/each}}

<h3>Total:&nbsp;{{format-price shoppingCart.total}}</h3>

{{#paper-card}}
  {{#paper-card-content}}
    {{#paper-button class="checkout-button" raised=true primary=true action="checkout"}}Checkout{{/paper-button}}
    {{#if checkout}}
      {{#if stuffInCart}}
        {{paper-input label="Name" value=name}}
        {{paper-input label="Address" value=address}}
        {{paper-input label="Email" value=email}}

        {{#paper-button class="checkout-button" raised=true primary=true action="submitOrder"}}Submit Order{{/paper-button}}
      {{/if}}
    {{/if}}
  {{/paper-card-content}}
{{/paper-card}}
