
{{#paper-card}}
  {{#link-to 'product' model.bestProduct.id}}<div class="letter-background"></div>{{/link-to}}

  {{#paper-card-content}}
    <h1>{{model.bestProduct.name}} size paper</h1>
    <p>{{model.bestProduct.main_description}}</p>
  {{/paper-card-content}}
{{/paper-card}}

<div layout-gt-md="row">
  {{#each model.allProducts as |product|}}
    {{#paper-card flex="49"}}
      {{#link-to 'product' product.id}}<div class="{{product.name}}"></div>{{/link-to}}
      {{#paper-card-content}}
      <h1>{{product.name}} size paper</h1>
      <p>{{product.main_description}}</p>
      {{/paper-card-content}}
    {{/paper-card}}
  {{/each}}
</div>

<div layout-gt-lg="row">
  {{#paper-card flex="31"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card flex="31"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card flex="31"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

</div>
